@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    
    background: #f6f8fa;
    margin: 0;
    color: #24292e;
}

.title {
    font-weight: 600;

    padding: 12px;
    border-radius: 6px;
    
    background: #1552ad;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: white;

    text-align: center;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    background: white;
    justify-content: center;
    flex-wrap: wrap;

    padding: 6px;
}

.tab {
    color: teal;
    text-decoration: none;
    font-weight: bold;
    
    padding: 12px;
    margin-right: 6px;
}

.tab:hover {
    background: teal;
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

#search {
    border: none;
    font: inherit;
    font-weight: 700;
    color: #24292e;

    border-radius: 6px;
    background: inherit;

    padding: 12px;
    flex-grow: 1
}

.search-box:focus-within {
    transition: 200ms;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#search-btn {
    outline: none;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 48px;

    transition: 200ms;
    cursor: pointer;
}

#search-btn:hover {
    opacity: 0.7;
}

.sorting {
    margin: 12px;

    color: #586069;
    font-size: .8em;
}

.sort {
    cursor: pointer;
}

.results {
    width: 100%;
    max-width: 640px;
    margin: auto;
}

.result {
    margin: 8px;
    background: white;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.result-title {
    padding: 12px;
    font-weight: 700;
}

.result-mal {
    padding: 12px;
    color: teal;
}

.theme {
    padding: 8px;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    border-bottom: 1px solid #f0f0f0;

    text-decoration: none;
    color: inherit;

    transition: 200ms;
    cursor: pointer;
}

.theme:nth-child(even) {
    background: #eff1f3;
}

.theme:hover {
    background: #f5f5f5;
    color: teal;
}

.theme-title {
    display: inline-flex;
    flex-direction: column;
}

.theme-episodes {
    color: #586069;
}

.theme-notes {
}

.title-sub {
    font-size: .7em;
    color: #586069;
}

footer {
    margin: 16px;
    opacity: 0.7;
    text-align: center;
}

footer a {
    color: teal;
    text-decoration: none;
}

.inactive {
    color: #bdbfc2;;
}

.inactive:hover {
    cursor: not-allowed;
}

.active {
    color: teal;
}